
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!--byc moze tutaj bedzieszukajka-->

<div class="users_list_container">
    <div class="container_user_picture">
        <!--adres do profilu uzytkownika-->
        <a href="~/profil/index#id">
            <img src="http://dblots.pl/images/avatars/15479139565570bbaa70320.png" class="img-rounded" alt="avatar" width="100" height="100">
        </a>
        <p>nick_uzytkownika</p>
        <input id="Button_id_uzytkownika" type="button" value="napisz"/>
    </div>



    <div class="container_user_picture">
        <!--adres do profilu uzytkownika-->
        <a href="~/profil/index#id">
            <img src="http://dblots.pl/images/avatars/15479139565570bbaa70320.png" class="img-rounded" alt="avatar" width="100" height="100">
        </a>
        <p>nick_uzytkownika2</p>
        <input id="Button_id_uzytkownika" type="button" value="napisz" />
    </div>

</div>





