body {
    background-color: Black ;
}




div.body {
  margin-left:10px;
  margin-right = 260px;

    color: brown;
} 


div.head {
    background-color: DarkRed;
}
.czat {
    height: 80%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 122px;
    right: 0px;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 0px;
}



.czat a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}



#main {
    transition: margin-right .5s;
    padding: 16px;
}


