body {
    background-color: rgba(118,183,191,.5);
    height: 100%;
}

.day{
    background-color:red;
}

.mainContainer,
.czat_menu {
    margin-top: 120px;
}

#tabela_js_show
{
    background-color:white;
}


#Button_Avatar {
    position: absolute;
    margin-top: 170px;
    margin-left: -62px;
}

.message_send{
    margin-top:8px;
}


@media(min-width: 768px) {
    .mainContainer_message {
        width: calc( ((750px / 12)*8)-30px);
    }
}

@media(min-width: 960px) {
    .mainContainer_message {
        width: calc( ((960px / 12)*8)-30px);
    }
}

@media(min-width: 1170px) {
     .mainContainer_message {
         width:750px;
        width: calc( ((1170px / 12)*8)-30px);
    }
}

.user_in_friend_list
{
    border-bottom:1px;
        border-bottom-style:solid;
            border-color:white;
padding:5px;


}

.message_element_view{
    margin-top: 10px;
     margin-left:5%;
     margin-right:5%;
    background-color: #f1f0f0;
    padding: 20px;
    border-radius: 25px;
    width: 90%;
    height:auto;
    float: left;
    clear: both;
}

.message_element_view_user{
     margin-top: 10px;
     margin-left:5%;
     margin-right:5%;

    background-color: #4080ff;
    padding: 20px;
    border-radius: 25px;
    width: 90%;
    height:auto;
    float: right;
    clear: both;
}

.mainContainer{
    padding-top: 20px;
}

div.topHeader {
    background-color: #273D40;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 120px;
}

.mainContainer_home {
    margin-top: 80px;
}



#describ_user{
    margin:0px;
    clear: both;
}

.collapse{
    margin-top:5px;
}

#Button_gruop_out {
    float: right;
}

.container_user_picture {
    margin: 0 10px 10px 10px;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
}

.container_user_picture img,
.container_user_picture input {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .container_user_picture p {
        text-align: center;
    }

.message {
    margin-top: 5px;
    margin-left: 10px;
    background-color: #f1f0f0;
    padding: 20px;
    border-radius: 25px;
    width: auto;
    height:auto;
    float: left;
    clear: both;
}

.message_user {
    margin-top: 5px;
    margin-right: 5px;
    background-color: #4080ff;
    padding: 20px;
    border-radius: 25px;
    width: auto;
    height:auto;
    float: right;
    clear: both;
}

    .message_user > p
     {
        color: white;
    }

#Button_send_message_group{
    width:100%;
}

.message > p {
    color: dimgray;
}

.navbar-default {
    border-color: transparent;
    border: none;
}

.czat {
    display: none;
}

.about_me_container
{
    background-color:white;
    width:40%;
    height:200px;
}

.czat ul {
    padding: 3px;
}

/*SEARCH--------------------------------------------------------------------------*/


/*STRONA GRUPY*/
.search_user{
    height:50px; 
    margin-left:-15px;
}
/*kontenery uzytkownicy*/
.search_user_add_container{
    padding:5px;
   
    height:45px;
    width:50%;
    background-color:white;

}

.search_user_add_container input{
   float:right;
}


/*STRONA ZARZADZAJ*/
.search_gropu_container
{
    padding:5px;
    margin-left:15px;
    height:45px;
    width:100%;
    background-color:white;
}

.search_gropu_container input{
    float:right
}


.search_group{
height:50px;
}

/*STRONA ZNAJOMI*/

.search_friends{
   height:100px;
 border-bottom:1px;
        border-bottom-style:solid;
            border-color:white;
padding:5px;
}

/*STRONA WIADOMOSCI*/

.search_message{
    height:100px;
  border-bottom:solid;
    border-color:white;
}

/*SEARCH--------------------------------------------------------------------------*/


/*CONTAINER WITH SCROLL*/    
.chat_group {
    padding: 20px;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    background-color: white;
}
.mainContainer_message{
   
    height:372px;
    background-color:white;
    overflow-y: scroll;
   
}
/*ASSIDE*/

.asside_message_list
{
    margin-top:140px;
    padding-top:20px;
}

.asside_message_list{
    height:502px;
    background-color:rgba(118,183,191,.3);
    width:50%;
    overflow-y: scroll;
    border-left:1px;
     border-top:1px;
      border-bottom:1px;
    border-color:white;
    border-left-style:solid;
     border-top-style:solid;
      border-bottom-style:solid;
}

.asside_friends_search
{
    margin-top:130px;
    max-height:502px;
    background-color:rgba(118,183,191,.5);
    width:100%;
    overflow-y: scroll;
    border-left:1px;
    border-top:1px;
    border-bottom:1px;
    border-color:white;
    border-left-style:solid;
    border-top-style:solid;
    border-bottom-style:solid;
}

.asside_message_list_not_read{
    border-bottom:solid;
    border-color:white;
background-color:rgba(118,183,191,.9);
height:100px;
}
.asside_message_list_not_read:hover {
    border-bottom:solid;
    border-color:white;
background-color:rgba(118,183,191,.1);
height:100px;
}

@media(min-width: 768px) {
    .asside_message_list {
        width: calc( (750px / 12)*4);
    }
}

@media(min-width: 960px) {
    .asside_message_list {
        width: calc( (960px / 12)*4);
    }
}

@media(min-width: 1170px) {
     .asside_message_list {
        width: calc( (1170px / 12)*4);
    }
}

.asside_message_list_read{
    border-bottom:solid;
    border-color:white;
    height:100px;

}
/*TEXTAREA  ARTICLE*/
#TextArea_user_send
{
    width:100%; max-height:200px; 
}

article {
    margin-bottom: 10px;
    background-color: rgba(118,183,191,.2);
    padding: 20px;
    border-radius: 25px;
}

/*  FLEX CONTAINER*/

.users_list_container {
    display: flex;
    justify-content: space-around;
    align-self:flex-start;
}

.czat ul li {
        display: flex;
        justify-content: space-between;
    }

.message_container{
        display: flex;
}

.container_page_zaklady, .container_page_zarzadzaj,.collapse_group
{
    display: flex;
    justify-content: space-between;   
}

  /*dotyczace logo, nawigacji*/

  .logo-full-bg {
    background-color: #273D40;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo-full-bg_home {
    background-color: #273D40;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 10px;
}

.menu-full-bg {
    background-color: #8EDCE5;
    border-radius: 4px;
    border: 1px solid white;
    height: 52px;
    top: 70px;
    position: fixed;
    width: 100%;
    z-index: 1;
}


  /*?????????*/
@media(min-width: 960px) {
    .czat {
        display: block;
        position: fixed;
        height: 100%;
        top: 122px;
        background-color: rgba(118,183,191,.3);
        right: calc((100% - 960px) / 2);
        width: calc( 960px / 4);
    }
}


#myNavbar {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
}
@media(min-width: 1170px) {
    .czat {
        right: calc((100% - 1170px) / 2);
        width: calc( 1170px / 4);
    }
}

@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    .collapse.in {
        display: block !important;
    }
}
