
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<div class="container">
    <div class="row">


        <!--bok (avatar,nick,dolaczyl,punkty rankingu,  , opcje/napisz)  -->
        <div class="col-md-4 col-sm-4">
            <img src="http://dblots.pl/images/avatars/15479139565570bbaa70320.png" class="img-rounded" alt="avatar" width="200" height="200">
            <p>Nick</p>
            <p>plec</p>
            <p>dolaczyl: Data jakas</p>
            <input id="send_Button" type="button" value="napisz" />

        </div>
        <div class="col-md-8 col-sm-8">
            <input id="friend_button" type="button" value="zapros/usun" />
            <h2>O mnie</h2>
            <textarea id="describ_user" rows="2" cols="40"></textarea>

            <div class="table-responsive">
                <table class="table table-striped" style="width:60%;">
                    <h2>Ranking Globlany</h2>
                    <thead>
                        <tr>
                            <th>Pozycja</th>
                            <th>Login</th>
                            <th>wynik</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>nick_1</td>
                            <td>wynik_1</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>nick_2</td>
                            <td>wynik_2</td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>nick_3</td>
                            <td>wynik_3</td>
                        </tr>


                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>

                        <tr>
                            <td>jakas_liczba</td>
                            <td>nick_usera</td>
                            <td>wynik_usera</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h2>Grupy</h2>
            <ul>
                <li><a href="grupy#1"><p>nazwa_grupy_1</p></a></li>
                <li><a href="grupy#2"><p>nazwa_grupy_2</p></a></li>
            </ul>


        </div>



    </div>

</div>