
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Strona główna</title>
</head>
<body>
    <div> 
        @Html.ActionLink("Rejestracja", "SignUp", "Account")
        @Html.ActionLink("Zaloguj", "LogIn", "Account")
    </div>
</body>
</html>
