@model WebApplication2.Models.ViewModel.StatisticView
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    var name = "Globalny";
    var group_name = "nazwa grupy";
}


<h1>Statystyki</h1>



<p>Znajdziesz tutaj globalny ranking użytkowników jak i statystyi wybranych grup.</p>




<h5>Wybierz rodzaj rankingu do wyswietlenia</h5>




<p>
    Ranking:
    <select id="Select1">
        <option value="val0">"Ranking Globalny"</option>
        <option value="val1">"@group_name"</option>
    </select>
</p>

    <div class="table">
        <div>
            <h3>Ranking @name</h3>

            <table id="tabela_js_show" class="table table-striped" cellspacing="3">
                <thead>
                    <tr>
                        <th>Pozycja</th>
                        <th>Login</th>
                        <th>wynik</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.global)
                    {
                        <tr>
                            <td>item.position</td>
                            <td>item.login</td>
                            <td>item.points</td>
                        </tr>                    
                    }
                </tbody>
            </table>
        </div>
    </div>
    
