
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

<div>
    <input id="Button_gruop_out" type="button" value="opusc grupe" class="btn btn-default"/>

    <h2>Ranking czlonkow grupy</h2>

    <input id="Button_ranking" type="button" value="zwin/rozwin" class="btn btn-default"   data-toggle="collapse" data-target="#table_ranking"/>

    <!-- trzeba zrobic sortowanie-->
    <div class="collapse" id="table_ranking">


        <table class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Pozycja</th>
                    <th>Login</th>
                    <th>wynik</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="~/profil/index#id">nazwa_uzytkownika</a></td>
                    <td>230</td>
                </tr>
            </tbody>

        </table>
        <center>
            <ul class="pagination">
                <li><a href="#1">1</a></li>
                <li><a href="#2">2</a></li>
                <li><a href="#3">3</a></li>
                <li><a href="#4">4</a></li>
                <li><a href="#5">5</a></li>
            </ul>
        </center>
    </div>
</div>


<h2>Czat</h2>
<div class="chat_group">
    <!--wyswietlanie wiadomosci innych uzytkownikow-->
    <div class="message_container">
            <img src="http://dblots.pl/images/avatars/15479139565570bbaa70320.png"  
                 data-toggle="tooltip" data-placement="top" title="Damianf 30.12.2016 14:30"
                  class="img-circle chat_group_position_avatar" alt="Cinque Terre" width="50" height="50">
        <div class="message">
            <!----> 
            <p>siemka</p>
        </div>
    </div>

    <!--wyswietlanie wiadomosci uzytkownika-->
        <div class="message_user" data-toggle="tooltip" data-placement="top" title="David 30.12.2016 14:31">
            <p>jol</p>
        </div>
        
    <div class="message_user" data-toggle="tooltip" data-placement="top" title="David 30.12.2016 14:32">
        <p>:D</p>
    </div>
    
</div>

<div>
    <form>
        <textarea id="TextArea_user_send" rows="4" style="width:100%; max-height:200px; max-width:100%"></textarea>
        <input id="Button_send_message_group" type="submit" value="wyslij" class="btn btn-default"/>
    </form>
</div>





