@model WebApplication2.Models.ViewModel.UserSettingView
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}




    <!--avatar-->

    <h2>Avatar</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="http://dblots.pl/images/avatars/15479139565570bbaa70320.png" class="img-rounded" alt="avatar" width="200" height="200">
            <input id="Button_Avatar" type="button" value="zmien" />
        </div>

        

        <div class="col-md-8">
            <h2>O mnie</h2>
            <textarea id="describ_user" rows="2" cols="40"></textarea>
            <input id="Button_descrbe" type="button" value="zmien" />

        </div>
</div>


    <div class="row">
        <div class="col-md-4">

            <h2>Haslo</h2>

            <p>stare haslo</p>
            <input id="old_password_input" type="text" />



            <p>nowe haslo</p>
            <input id="new_Password_input" type="password" />



            <p>powtorz nowe haslo</p>
            <input id="new_Password_confirm_input" type="password" />


            <input id="password_button" type="button" value="zatwierdz" />

        </div>

        <div class="col-md-8">
       
            <h2>email</h2>

            <p> stary adres email</p>
            <p>email@wp.pl</p>

            <p>podaj nowy adres email</p>
            <input id="email_new_input" type="text" />


            <p>powtor nowy adres email</p>
            <input id="email_new_confirm_input" type="text" />

            <input id="email_button" type="button" value="zatwierdz" />
             
        </div>


</div>

    <div class="row">

    <div class="col-md-4">
    <h2>Usun konto</h2>


    </div>
    </div>

</div>

        



       




