@model WebApplication2.Models.ViewModel.UserSettingView
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}






<div class="container">
    
    <div class="row">
        <!--pierwsza kolumna-->
        <div class="col-md-4">
            
            <!--link do obrazka -->
            <img src="http://dblots.pl/images/avatars/15479139565570bbaa70320.png" class="img-rounded" alt="avatar" width="200" height="200">

            <!-- przycisk obslugujacy zmiane avatara (okienko  z wyborem do wskazania pliku powinno wyskoczyc)-->            
            <input id="Button_Avatar" type="button" value="zmien" class="btn btn-default" />

            <!-- Formularz dotyczacy zmiany hasla--->
            @using (Html.BeginForm("Zmiana_hasla", "Ustawienia", FormMethod.Post, new { @class = "form-horizontal" }))
            {

                @Html.AntiForgeryToken()

                
                    <div class="form-group">
                        <h2>Haslo</h2>
                    </div>

                    <div class="form-group">
                        <label>podaj stare haslo</label>
                    </div>

                    <!--  podawane stare haslo do sprawdzenia z starymzapisanym w bd podczas zmiany hasla -->
                    <div class="form-group">
                        <input id="old_password" type="text" />
                    </div>

                    <div class="form-group">
                        <label>podaj nowe haslo</label>
                    </div>

                    <!-- input z nowym haslem  -->
                    <div class="form-group">
                        <input id="Password_input" type="password" />
                        <span class="glyphicon glyphicon-eye-open" onmouseenter="Password_input.type='text'" ; onmouseleave="Password_input.type='password'"></span>
                    </div>

                    <!--  przycisk do zmiany  hasla-->
                    <div class="form-group">
                        <input type="submit" value="Zmień" class="btn btn-default" />
                    </div>
            }


            <h2>Usun konto</h2>

            <!-- fpormularz do usuwania konta w sumie to zostawilem z tego co dawid wrzucil-->
            @using (Html.BeginForm("Usuniecie_konta", "Ustawienia", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()


                @Html.EditorFor(model => model.deleteUserView.deleteU)

                <input type="submit" value="Usuń konto" class="btn btn-default" />
            }

        </div>

         <!--druga kolumna-->
        <div class="col-md-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <h2>O mnie</h2>
                </div>
                <div class="form-group">
                    <!--tutaj powinien byc aktualny opis wyswietlany jaki uzytkownik mai uzytkownik do niego moze nowy wpisac-->
                    <textarea id="describ_user" rows="10" cols="40"></textarea>
                </div>
                <div class="form-group">
                    <!--przycisk do zatwierdzenia zmian w opise-->
                    <input id="Button_describe" type="button" value="zmien" class="btn btn-default" />
                </div>
            </form>

            <!--formularz dotyczacy zmiany adresu email-->
            @using (Html.BeginForm("Zmiana_email", "Ustawienia", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <h2>email</h2>
                </div>
                <div class="form-group">
                    <label>adres email</label>
                </div>

                <div class="form-group">
                    <!--input wyswietlajacy aktualny adres email z mozliwoscia wpisana nowego-->
                    <input id="email" type="text" />
                </div>

                <div class="form-group">
                    <!-- przycisk zatwierdzajcy zmiane adresu email -->
                    <input type="submit" value="Zmień" class="btn btn-default" />
                </div>
            }

        </div>

    </div>
</div>
